body {
    background-color: $wht1;
    color: $blk3;
}

main {
    margin-top: 4rem;
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;

    li {
        width: calc(12.5% - 1rem);
        background-color: $wht3;
        overflow: hidden;
        position: relative;
        margin-bottom: 1rem;
    }

    img {
        border-radius: 4px;
        width: 100%;
        height: auto;
    }
}