body {
    background-color: $wht1;
    color: $blk3;
}

main {
    margin-top: 4rem;
}

.search-results, .page-view {
    column-count: 6;
    padding: 1rem;

    li {
        background-color: $wht3;
        overflow: hidden;
        position: relative;
        margin-bottom: 1rem;
        cursor: pointer;
    }

    img {
        border-radius: 4px;
        width: 100%;
        height: auto;
    }
}

.page-view {
    padding: 1rem;
}